<h1>Listado de Curso</h1>

        <% @courses.each do |course| %>
           <b>Nombre del Curso:</b> <%="#{course['name_course']} "%></br>
           <b>Instructor:</b> <%="#{course['name_user']} "%></br>
                <h2>Libros</h2>
                <% course['course_books'] .each do |book| %>
                        <ul>
                            <li><b>Nombre del Libro: </b><%="#{book['title']} "%></li>
                            <li><b>Contenido: </b><%="#{book['content']} "%></li>
                        </ul>
                        <h2>Estudiantes</h2>
                        <table border="1">
                            <thead>
                                <tr>
                                    <td><b>Nombre Estudiante</b></td>
                                    <td><b>Email</b></td>
                                    <td><b>Tiempo de Lectura</b></td>
                                </tr>
                            </thead>
                            <% book['users_book'] .each do |user_book| %>
                                    <tbody>
                                        <tr>
                                            <td><%="#{user_book.user.name_user} "%></td>
                                            <td><%="#{user_book.user.email} "%></td>
                                            <td><%="#{user_book.reading_times.strftime('%H:%M:%S')} "%></td>
                                        </tr>
                                    </tbody>
                            <% end %>
                        </table>
                <% end %>
        <% end %>
            
       
